$color00:#000000;
$color43:#434343;
$color51:#515151;
$color20:#202020;
$color76:#7688A4;
$bgColor29:#295093;
$color53:#535353;
$colorFF:#FFFFFF;
$headerBgColor:#F6F6F9;
$colorF6:#F6F6F9;
// $color
// $color
$btnBGColor: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
